<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <application android:label="Bubble Renderer Probe" android:theme="@android:style/Theme.Material.NoActionBar"
        android:allowBackup="false" android:supportsRtl="true" android:hardwareAccelerated="true"
        android:usesCleartextTraffic="false">
        <activity android:name=".ProbeActivity" android:exported="true" android:configChanges="orientation|screenSize|keyboardHidden|density">
            <intent-filter><action android:name="android.intent.action.MAIN"/><category android:name="android.intent.category.LAUNCHER"/></intent-filter>
        </activity>
        <activity android:name=".TrialActivity" android:exported="false" android:process=":trial"
            android:configChanges="orientation|screenSize|keyboardHidden|density" />
    </application>
</manifest>
